/*
 Meta-data information
*/

manifest {
	description = 'This pipeline processes raw CUTandRUN data in allele-specific manner to generate signal tracks, identify peaks and count reads per peak.'
	mainScript = 'allelic_CUTandRUN.nf'
	nextflowVersion = '20.04.1'
	version = '0.1.0'
	author = 'Yuvia A. PEREZ RICO'
}

/*
 Initialize parameters
*/

params {
	sampleInfo = '/scratch/user/CaR_data/sampleDescription.txt'
	chunkSize = 5000000
	G1 = 'C57BL-6J'
	G2 = 'CAST-EiJ'
	outDir = '/home/user/Documents/project_CUTandRUN_NPC'
	genomeDirPath = '/home/user/Documents/references/mm10/indexes/mm10_C57BL-6J_CAST-EiJ_masked'
	snpFile = '/home/user/Documents/references/mm10/SNPs_annotations/C57BL-6J_CAST-EiJ_SNPs_F1_filtered_forSNPsplit.txt.gz'
	blackList = '/home/user/Documents/references/mm10/mm10_blacklist_280617.bed'
	rsFrag = '/scratch/user/analysis_CUTandRUN/plot_fragment_size_distribution.R'
	rsPeaks = '/scratch/user/analysis_CUTandRUN/plot_peak_distribution_features.R'
	dataTF = 'yes'
	dataHistone = 'yes'
	shSEACR = '/home/user/Documents/SEACR-master/SEACR_1.3.sh'
	chrmSizes = '/home/user/Documents/references/mm10/mm10.chrSize_edited.txt'
	numFrag = 10000000
	tmpOutDir = '${TMPDIR}'
	numCPUs = 10
	numCPUs_Dtools = 20
}

/*
 Set process requirements
*/

process {
	executor = 'slurm'
	scratch = '/scratch/user'
	memory = 20.GB
	time = 5.m
	cpus = 1

	withLabel: fastqQual {
		cpus = "${params.numCPUs}"
		memory = 3.GB
		time = 40.m
	}

	withLabel: fastq_splitting {
		memory = 100.MB
		time = 60.m
	}

	withLabel: filter_bams {
		cpus = "${params.numCPUs}"
		memory = 500.MB
		time = 10.m
	}

	withLabel: process_bams {
		memory = 15.GB
		time = 40.m
	}

	withLabel: scR {
		memory = 5.GB
		time = 10.m
	}

	withLabel: stats {
		memory = 500.MB
	}

	withLabel: bam_fragments {
		cpus = "${params.numCPUs}"
		memory = 40.GB
		time = 60.m
	}

	withLabel: peak_calling {
		memory = 5.GB
		time = 15.m
	}

	withLabel: signal_tracks {
		cpus = "${params.numCPUs_Dtools}"
		memory = 10.GB
		time = 20.m
	}

	withName: get_program_versions {
		memory = 100.MB
		time = 30.s
	}

	withName: raw_pairs {
		memory = 100.MB
		time = 10.m
	}

	withName: trim_reads {
		memory = 400.MB
		time = 20.m
	}

	withName: read_mapping {
		cpus = "${params.numCPUs}"
		memory = 10.GB
		time = 30.m
	}

	withName: PCR_coeffs {
		cpus = "${params.numCPUs}"
		memory = 15.GB
		time = 30.m
	}

	withName: SNPsplit {
		memory = 10.GB
		time = 20.m
	}

	withName: filter_unassigned_bams {
		time = 60.m
	}

	withName: merge_mapped {
		time = 70.m
	}

	withName: bed_to_bg {
		memory = 10.GB
		time = 30.m
	}

	withName: TF_norm {
		time = 30.m
	}

	withName: peak_signal {
		memory = 1.GB
	}

	withName: read_counts {
		cpus = "${params.numCPUs}"
		memory = 2.GB
	}

}


